rest-model/src/main/resources/xsd/person.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="personList" type="personList"/>
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element type="xs:byte" name="id"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="familyName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personList">
        <xs:sequence>
            <xs:element type="person" name="person" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>